* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Istok Web", sans-serif;
    --second-family: "Source Sans Pro", sans-serif;
    --third-family: "Inter", sans-serif;
}

body {
    font-family: var(--font-family), sans-serif; 
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/* Контейнери для центрованого контенту */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    background-color: #fff;
    margin: 0 auto;
}
header img {
    width: auto;
    height: 64px;
}
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #FBF4F0;    
}
.contact-info {
    display: flex;
    gap: 20px;
}
.contact-info p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #f69946;
}
.contact-info a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #a49d98;
    text-decoration: none;
    transition: border-bottom 0.3s ease;
}
.contact-info a:hover {
    border-bottom: 2px solid #f69946;
}

.social-media {
    display: flex;
    gap: 15px;
}
.social-link {
    display: block;
    width: 27px;
    height: 27px;
}
.social-icon {
    width: 30px;
    height: 30px;
}
.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
}
.header-nav {
    margin: 0;
}
.header-list {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
.header-list-item a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}
.header-list-item a:hover {
    color: #f69946;
}    

.hero {
    position: relative;
    width: 100%;
    height: 806px; 
    background-image: url("./images/hero_background.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;  
    justify-content: center;
}
.hero-desc {
    padding: 40px;
    width: 1200px;
    display: flex;
    flex-direction: column;
}
.main-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    color: #a9c623;
}
.main-title-acсent {
    display: block;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    color: #000;
    padding-bottom: 45px;
}
.hero-buttons {
    display: flex;
    gap: 20px;
}
.btn-shop {
    border-radius: 5px;
    width: 167px;
    height: 55px;
    background-color: #A9C623;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3px;
    color: #fff;
    border: none;
}

.icon {
    width: 18px;  /* Розмір іконки */
    height: 18px;
    fill: currentColor; /* Іконка отримає колір тексту */
}
.btn-shop:hover {
    background-color: #90A824;
}
.btn-app {
    border-radius: 5px;
    width: 177px;
    height: 55px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f69946;
    border: 2px solid #A9C623;
}
.btn-app:hover {
    background-color: #A9C623;
    color: #fff;
}    


/* styles by Alena */
.accent-part {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #f69946;
    padding-bottom: 7px;
}
.company-slogan {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    text-align: center;
    color: #333;
    padding-top: 17px;
}
.text-about-us {
    max-width: 762px;
    text-align: center;
    margin: 0 auto;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #333;
    padding-top: 22px;
}
.categories {
    margin: 0 auto;
    padding: 0;
}
.categories-list {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 50px;
}
.category-item {
    cursor: pointer;
}
input[type="radio"] {
    appearance: none; /* Прибирає стандартний вигляд радіо кнопки */
    -webkit-appearance: none; /* Для Webkit-браузерів */
    -moz-appearance: none; /* Для Firefox */
}    
.category-label {
    font-size: 14px;
    font-weight: 700;
    color: #2c2c2c;
    padding: 10px;
    cursor: pointer;
    opacity: 60%;
    transition: text-decoration 0.3s ease, color 0.3s ease;
}
.category-label:hover {
    opacity: 100%;
}
.category-label.active {
    text-decoration: underline;
    color: #F69946; 
}
.category-content {
    display: none;
    padding: 10px;
    
}
.category-content .card {
    display: inline-block;
    /* max-width: 270px; */
    /* width: calc(25% - 30px); */
    width: calc((100% - 90px) / 4);
    background-color: #FBF4F0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}
.category-content .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.card {
    padding: 40px 30px 40px 30px;
}
.card img {
    width: 100%;
    height: auto;
}
.product-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #333;
    margin: 10px 0;
}
.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 133%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #a9c623;
    margin-bottom: 10px;
}
.buy-now {
    border-radius: 5px;
    border: 2px solid #a9c623;
    width: 93px;
    height: 42px;
    background: rgba(0, 0, 0, 0);
    color: #F69946;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.buy-now:hover {
    background-color: #A9C623;
    color: #fff;
}
input[type="radio"]:checked + .category-label + .category-content {
    display: block;
}



/* Andrii */
#top_picks_row{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 120px;
}

.card_org{
    background-color: #FBF4F0;
 
}
.img_org{
    margin-left: 25px;
    width: 80%;
}

.button_org{
    margin-left: 80px;
    margin-bottom: 40px;
}
.food-icons-section {
    background: url('./images/Container.png') top center no-repeat, #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.food-list {
    max-width: 1200px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.food-item {
    list-style: none;
    width: 210px;
}
.food-label {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #333;
}
/* Anton */
#organic_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    margin-left: 100px;
    margin-right: 100px;
    gap: 35px;
    margin-top: 30px;

}

.card_org{
    background-color: #FBF4F0;
 
}
.img_org{
    margin-left: 25px;
    width: 80%;
}

.button_org{
    margin-left: 80px;
    margin-bottom: 40px;
}

.reviews{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 120px;
}

.reviews_visitors{
    background-color: #FBF4F0;
}

.img_visitirs{
    margin-top: 30px;
    margin-left: 55px;
    width: 50%;
}

.name_visitirs{
    margin-top: 10px;
    text-align: center;
    color: #F69946;
}

.blockuote{
    font-style: italic;
    color: gray;
    text-align: center;
    margin-top: 20px;
}

.data{
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}

.contacts_shedule{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 35px;
    height: 300px;
    margin-right: 90px;
    margin-left: 90px; 
    margin-top: 60px;
    margin-bottom: 120px;
}
.contacts{
    background-image: url("images_organic/fruits_3.jpg"); 
}

.shedule{
    background-image: url("images_organic/fruits.jpg");
}

.left{
    text-align: left;
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom: 30px;
    font-size: 14px;
}

.title_black{
    margin-left: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    color: rgb(27, 26, 26);
}

.green_text{
    margin-left: 40px;
    color:rgb(23, 223, 40);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}
.orange_text{
    margin-left: 40px;
    color:#f69946;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}
    /* Anton */

